extends layout/app
block var
    - let pageTitle = "Bosh sahifa";
block main 
    .start 
        .start__container 
            .start__text 
                .start__title 
                    span= siteName
                .start__auther 
                    h1 Zarifboy Vosiyev
                .start__social 
                    a(href="#") 
                        i.fa-brands.fa-telegram 
                    a(href="#") 
                        i.fa-brands.fa-github
